html, body {
    font-size: 1.15vw;
}

.bold {
    font-weight: bold;
}

a {
    color: black;
    text-decoration: underline;
}

a:hover {
    color: black;
    text-decoration: none;
    background-color: transparent;
}