/* TEST */
h2, h3, h4 {
	margin-bottom: 0.25em;
	color: #006987
}

h1 {
	font-weight: 800;
	margin-bottom: 0;
}

h2 {
	font-weight: 800;
	font-size: 17px;
	margin-top: 0.5em;
	margin-bottom: 1.35em;
}

h3 {
	font-weight: 800;
	font-style: italic;
}

h4 {
	font-size: 15px;
}

h5 {
	font-weight: 800;
	font-size: 15px;
	margin-bottom: 0.35em;
}

h6 {
	font-weight: 700;
	font-size: 15px;
	margin-bottom: 0.25em;
}

#university {
	margin-top: -0.15em;
	margin-bottom: 1.35em;
}

.date {
	color: rgba(0, 0, 0, 0.65);
	position: absolute;
	right: 0.05em;
	top: 1.25em;
}

.postDate {
	color: rgba(0, 0, 0, 0.65);
	position: absolute;
	right: 0.05em;
	top: 1.06em;
}

.skills {
	margin-bottom: 1.1em;
}

.courses {
	margin-left: -0.93em;
	list-style-type: none;
}