---
layout: default
---

<div class="home">

	<h1 class="page-heading">Projects</h1>

	<ul class="post-list">
		{% for post in site.posts %}
		<li>
			<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

			<h2>
				<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
			</h2>
		</li>
		{% endfor %}

		{% if site.posts.size == 0 %}
		<p>
			This is embarrassing! I don't have any projects?! <br>
			Not to worry! I just need some time to write them up! <br>
			They will trickle in after I writing and documenting them.<br>
			Stay Tuned~
		</p>
		{% endif %}
	</ul>

	<!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->

</div>
