---
layout: default
title: "Projects"
---
<section class="wrapper style1 special fade-up">
    <div class="container">
        <header class="major">
            <h2>{{ page.title }}</h2>
        </header>
    </div>
</section>

<!-- This loops through the paginated posts -->
{% if site.posts.size > 0 %}
{% for post in paginator.posts %}

{% assign isOdd = forloop.index | modulo: 2 %}
{% if isOdd == 0 %}
{% assign position = 'left' %}
{% else %}
{% assign position = 'right' %}
{% endif %}

<section id="post_{{ forloop.index }}" class="spotlight style{{forloop.index}} {{position}}">
    <!--<span class="image fit main"><img src="images/pic03.jpg" alt=""/></span>-->
    <span class="image fit main">
        <img src="{{ post.image }}" alt=""/>
    </span>
    <div class="content">
        <header>
            <h2>
                {{ post.date | date: "%b %-d, %Y" }} <br>
                {{ post.title }}
            </h2>
            <p>{{ post.short }}</p>
        </header>
        <p>{{ post.excerpt }}</p>
        <ul class="actions">
            <li>
                <a href="{{ post.url | prepend: site.baseurl }}"
                   class="button">
                    Read More.
                </a>
            </li>
        </ul>
    </div>
    {% if forloop.index == forloop.length %}
    <a href="#header" class="goto-next scrolly">Next</a>
    {% else %}
    <a href="#post_{{ forloop.index | plus: 1 }}" class="goto-next scrolly">Next</a>
    {% endif %}
</section>
{% endfor %}
<section id="two" class="wrapper style1 special fade-up">
    <div class="container"><!-- Pagination links -->
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="col-sm-4 col-md-4 button">Previous</a>
        {% else %}
        <span class="col-xs-4 col-sm-4 col-md-4"></span>
        {% endif %}
        <span class="col-xs-4 col-sm-4 col-md-4 page_number">{{ paginator.page }} of {{ paginator.total_pages }}</span>
        {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="col-sm-4 col-md-4 button">Next</a>
        {% else %}
        <span class="col-xs-4 col-sm-4 col-md-4 button">Next</span>
        {% endif %}
    </div>
</section>
{% else %}
<div class="row">
    <div class="col-sm-offset-3 col-sm-7 col-md-offset-3 col-md-7 col-lg-offset-3 col-lg-7">
        <p>
            This is embarrassing! I don't have any projects?! <br>
            Not to worry! I just need some time to write them up! <br>
            They will trickle in after I write and document them.<br>
            Stay Tuned~
        </p>
    </div>
</div>
{% endif %}