---
layout: default
---
<div class="container-fluid">
	<div class="row">
		<h1 class="col-sm-offset-3 col-sm-7 col-md-offset-3 col-md-7">Projects</h1>
	</div>

	<!-- This loops through the paginated posts -->
	{% if site.posts.size > 0 %}
	{% for post in paginator.posts %}
	<div class="row">
		<!-- Left Side -->
		<div class="col-sm-3 col-md-3">
			<div class="postDate">{{ post.date | date: "%b %-d, %Y" }}</div>
		</div>

		<div class="col-sm-7 col-md-7">
			<h2 class="post-link">
				<a href="{{ post.url | prepend: site.baseurl }}">
					{{ post.title }}: {{ post.short }}
				</a>
			</h2>
			<p>
				{{ post.excerpt }}
			</p>
		</div>
	</div>
	{% endfor %}

	<div class="row">
		<!-- Pagination links -->
		<!--<div class="pagination">-->
		{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path }}" class="col-sm-4 col-md-4 previous">Previous</a>
		{% else %}
		<span class="col-sm-4 col-md-4 previous">Previous</span>
		{% endif %}
		<span class="col-sm-4 col-md-4 page_number"> Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
		{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path }}" class="col-sm-4 col-md-4 next">Next</a>
		{% else %}
		<span class="col-sm-4 col-md-4 next">Next</span>
		{% endif %}
		<!--</div>-->
	</div>
	{% else %}
	<div class="row">
		<div class="col-sm-offset-3 col-sm-7 col-md-offset-3 col-md-7 col-lg-offset-3 col-lg-7">
			<p>
				This is embarrassing! I don't have any projects?! <br>
				Not to worry! I just need some time to write them up! <br>
				They will trickle in after I write and document them.<br>
				Stay Tuned~
			</p>
		</div>
	</div>
	{% endif %}

</div>