<!-- Scripts -->
<!--[if lte IE 8]>
<script src="/js/ie/respond.min.js" type="text/javascript"></script>
<script src="/js/ie/html5shiv.js"></script>
<![endif]-->
<script src="/js/jquery.min.js" type="text/javascript"></script>
<script src="/js/jquery.scrolly.min.js" type="text/javascript"></script>
<script src="/js/jquery.dropotron.min.js" type="text/javascript"></script>
<script src="/js/jquery.scrollex.min.js" type="text/javascript"></script>
<script src="/js/jquery.matchHeight.js" type="text/javascript"></script>
<script src="/js/skel.min.js" type="text/javascript"></script>
<script src="/js/util.js" type="text/javascript"></script>
<script src="/js/main.js" type="text/javascript"></script>
<script src="//cdn.lightwidget.com/widgets/lightwidget.js"></script>
<!-- Scripts -->

<script>
    $(function() {
        $('.recent-posts').matchHeight();
    });
</script>
